<div id="menu">
    <img alt="Nike Logo" src="assets/imagenes/Logo.png">
    <hr>

    <button routerLink="../tienda" routerLinkActive="active" titulo="TIENDA">
        <img src="assets/imagenes/logo_tienda.png">
        <p>MENU PRINCIPAL</p>
    </button>

    <!-- Saldra si el usuario que a iniciado sesion es un cliente -->
    <button *ngIf="info.rol == 'cliente'" routerLink="../carrito" titulo="CARRITO">
        <img src="assets/imagenes/carrito.png">
        <p>CARRITO</p>
    </button>

    <!-- Saldra si el usuario que a iniciado sesion es un admin y replacara el boton del carrito -->
    <button *ngIf="info.rol == 'admin'" routerLink="../usuarios" routerLinkActive="active" titulo="REGISTRO"><img
            src="assets/imagenes/usuarios.png">
        <p>USUARIOS</p>
    </button>

    <button routerLink="../VerPedidos" routerLinkActive="active" titulo="PEDIDOS"><img
            src="assets/imagenes/carrito_foto.png">
        <p>PEDIDOS</p>
    </button>


    <button *ngIf="info.rol == 'admin'" routerLink="../PuntosEntrega" routerLinkActive="active" titulo="PEDIDOS"><img
            id="puntosentrega" src="assets/imagenes/ubicacion.png">
        <p>PUNTOS DE ENTREGA</p>
    </button>

    <!-- Saldra si el usuario a iniciado sesion y replacara el botone de iniciar sesion -->
    <button title="LOGOUT" (click)="logout()">
        <img src="assets/imagenes/logout.png">
        <p>LOG OUT</p>
    </button>

</div>

<div id="aviso" *ngFor="let dato of UsuarioArray">
    <p *ngIf="dato.rol == 'cliente'">
        <b> Si necesita editar su foto de perfil, correo o telefono, envie un correo con la
            nueva información a la
            siguiente dirección: Nikes@gmail.com.
        </b>
    </p>
    <p *ngIf="dato.rol == 'admin'">
        <b>
            Si necesita editar la información del usuario administrador
            vaya a la pestaña usuarios desde el menú lateral.
        </b>
    </p>
</div>

<div id="perfil" *ngFor="let dato of UsuarioArray">
    <img id="foto" src="{{dato.photo}}">
    <p id="nombre"><b>Nombre: </b>{{dato.name}}</p>
    <p id="apellidos"><b>Apellidos: </b>{{dato.lastname}}</p>
    <hr id="hr1">
    <p id="correo"><b>Correo: </b>{{dato.email}}</p>
    <hr id="hr2">
    <p id="telefono"><b>Telefono: </b>{{dato.phone}}</p>
    <hr id="hr3">
    <p id="DNI"><b>DNI: </b>{{dato.dni}}</p>
</div>