<div id="menu">
  <img alt="Nike Logo" src="assets/imagenes/Logo.png">
  <hr>
  <button id="login" routerLink="./login" routerLinkActive="active" title="LOGIN">LOGIN</button>
</div>

<button id="policia">
  <div>
    <img alt="Material Policial Logo" src="assets/imagenes/LogoPolicial.png">
    <p>ARMAS DE POLICIA</p>
  </div>
</button>

<button id="airsoft">
  <div>
    <img alt="Material Airsoft Logo" src="assets/imagenes/LogoAirsoft.png">
    <p>AIRSOFT</p>
  </div>
</button>