<form>
        <div>
                <select id="pago">
                        <option value="opcion1">Tarjeta de credito</option>
                        <option value="opcion2">En efectivo</option>
                </select>
        </div>

        <div>

                <select id="entrega">
                        <option>Sitio 1</option>
                </select>
        </div>

        <div>
                <button>
                        Confirmar Entrega
                </button>

                <button routerLink="../carrito">
                        Cancelar
                </button>
        </div>

</form>