form {
    position: absolute;
    text-align: center;

    width: 1000px;
    height: 500px;

    margin-left: 450px;
    margin-top: 200px;

    background-color: rgba(98, 98, 98, 0.9);

    border-radius: 105px;

}

#titulo1 {
    color: white;
    padding-top: 20px;
}

#titulo2 {
    color: white;
}

#pago {

    width: 230px;
    height: 50px;

    font-size: larger;

    background: #B3B3B3;

    margin-top: 60px;
    margin-bottom: 40px;

}

#entrega {

    width: 230px;
    height: 50px;

    font-size: larger;

    background: #B3B3B3;

    margin-top: 60px;

    margin-bottom: 50px;

}

button {
    width: 230px;
    height: 50px;
    background: #B3B3B3;
    border: none;
    border-radius: 19px;
    font-size: larger;
}

#volver{
    margin-left: 50px;
}

button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}