<div id="menu">
        <img alt="Nike Logo" src="assets/imagenes/Logo.png">
        <hr>
        <!-- Boton para volver a la tienda -->
        <button routerLink="../tienda" routerLinkActive="active" titulo="TIENDA"><img
                        src="assets/imagenes/logo_tienda.png">
                <p>MENU PRINCIPAL</p>
        </button>

        <!-- Sale una vez el usuario a iniciado sesion -->
        <button *ngIf="info.rol == 'cliente' || info.rol == 'admin'" routerLink="../perfil" titulo="PERFIL"><img
                        src="assets/imagenes/perfil.png">
                <p>PERFIL</p>
        </button>

        <!-- Saldra si el usuario que a iniciado sesion es un cliente -->
        <button *ngIf="info.rol == 'cliente'" routerLink="../carrito" titulo="CARRITO"><img
                        src="assets/imagenes/carrito.png">
                <p>CARRITO</p>
        </button>

        <button *ngIf="info.rol == 'admin'" routerLink="../usuarios" routerLinkActive="active" titulo="REGISTRO"><img
                        src="assets/imagenes/usuarios.png">
                <p>USUARIOS</p>
        </button>

        <button *ngIf="info.rol == 'admin'" routerLink="../PuntosEntrega" routerLinkActive="active"
                titulo="PEDIDOS"><img id="puntosentrega" src="assets/imagenes/ubicacion.png">
                <p>PUNTOS DE ENTREGA</p>
        </button>
</div>

<ng-container *ngIf="element == false">
        <table id="carrito">

                <tr>
                        <th *ngIf="info.rol == 'admin'">Usuario:</th>
                        <th>Producto:</th>
                        <th>Punto de Entrega:</th>
                        <th>Precio:</th>
                        <th>Metodo de Pago:</th>
                        <th>Estado:</th>
                </tr>

                <tr id="materiales" *ngFor="let dato of pedidos">
                        <td *ngIf="info.rol == 'admin'">{{dato.id_usuario}}</td>
                        <td>{{dato.id_material}}</td>
                        <td>{{dato.id_punto_entrega}}</td>
                        <td>{{dato.Total}} €</td>
                        <td>{{dato.metodo_pago}}</td>
                        <td>{{dato.estado}}</td>
                </tr>

        </table>
</ng-container>

<div id="carrito" *ngIf="element == true && info.rol == 'cliente'">
        <img id="foto" src="assets/imagenes/carrito_foto.png">
        <p>No tienes ningun pedido</p>
</div>

<div id="carrito" *ngIf="element == true && info.rol == 'admin'">
        <img id="foto" src="assets/imagenes/carrito_foto.png">
        <p>Ningun usuario tiene pedidos</p>
</div>