#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 300px;
    background-color: rgba(98, 98, 98, 0.9);
    border-bottom-right-radius: 10px;
}

#menu>img {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 45px;
}

#menu>hr {
    position: absolute;
    top: 180px;
    left: 23px;
    width: 250px;

    color: rgb(255, 255, 255);
    border: 3px solid;
}

#menu>button {
    border: none;
    width: 280px;
    height: 50px;
    margin-top: 10px;
    margin-left: 9px;
    margin-bottom: 10px;
    background: #B3B3B3;
}

#menu>button>p {
    margin-top: 11px;
}

#menu>button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

#menu>button>img {
    width: 50px;
    float: left;
    margin-left: 5px;
}


#carrito {
    position: absolute;

    text-align: center;

    margin-left: 500px;
    margin-top: 200px;

    width: 1199px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: rgba(98, 98, 98, 0.9);

    border-radius: 10px;
}

#carrito>tr {
    color: white;

    font-size: 20px;
}


#carritovacio {
    position: absolute;

    margin-left: 455px;
    margin-top: 200px;

    width: 1300px;
    height: 500px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: rgba(98, 98, 98, 0.9);

    border-radius: 10px;
}

#carritovacio>#foto {
    width: 402px;
    height: 346px;
    margin-left: 450px;
    top: 160px;
}

#carritovacio>p {
    width: 500px;
    margin-left: 440px;
    top: 480px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    position: absolute;
    background-color: rgba(98, 98, 98, 0.9);
    width: 70%;
    height: 100px;
    padding-top: 25px;
    margin-left: 450px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    text-align: center;
    color: white;
}

#puntosentrega {
    margin-top: 10px;
}