<form [formGroup]="loginForm">
    <div id="logo">
        <img alt="Nike Logo" src="assets/imagenes/LogoLogin.png">
    </div>
    <div id="casillas">
        <div>
            <p>DNI:</p>
            <input formControlName="dni" type="text">
            <hr>
        </div>
        <div>
            <p>Contraseña:</p>
            <input formControlName="password" type="password">
            <hr>
        </div>
    </div>
    <div id="botones">
        <button id="login" [disabled]="!loginForm.valid" title="Iniciar Sesion" (click)="login()">LOGIN</button>
        <br>
        <button id="volver" routerLink="">VOLVER</button>
    </div>
</form>