<div *ngIf="UsuariosArray.length > 0">

    <div id="header">
        <ng-container *ngFor="let dato of UsuariosArray">
            <h1>Actualizando el usuario {{dato.name}}</h1>
        </ng-container>
    </div>

    <form id="formelegir" [formGroup]="ChangeFoto">
        <div *ngFor="let dato of UsuariosArray">

            <label id="titulofoto1" *ngIf="element1 == false">
                <h4>
                    Foto del usuario:
                </h4>
            </label>
            <label id="titulofoto2" *ngIf="element1 == true">
                <h4>
                    Foto del usuario:
                </h4>
            </label>

            <br>
            <img id="image" src="{{dato.photo}}">

            <button id="botonimagen" *ngIf="element1 == false" (click)="showData1()">
                <b>Cambiar Foto</b>
            </button>

            <div *ngIf="element1 == true">
                <input formControlName="photo" type="file" id="file" (change)="onFileChange($event)">
                <button id="cambiarfoto" [disabled]="!ChangeFoto.valid"
                    (click)=" UpdateFoto(); hideData1(); ngOnInit()">
                    <b>Guardar</b>
                </button>
                <button id="cancelarfoto" (click)="hideData1()">
                    <b>Cancelar</b>
                </button>
            </div>
        </div>
    </form>

    <form id="formescribir">
        <div class="overflow-y-scroll fixWitd" *ngFor="let dato of UsuariosArray">
            <div>
                <label>
                    <h4>
                        Nombre del usuario: {{dato.name}}
                    </h4>
                </label>
            </div>

            <div>
                <label>
                    <h4>
                        Apellidos del usuario: {{dato.lastname}}
                    </h4>
                </label>
            </div>

            <div [formGroup]="ChangePassword">
                <label>
                    <h4>
                        Contraseña del usuario:
                    </h4>
                    <button id="botoncontra" *ngIf="element2 == false" (click)="showData2()">
                        <b>Cambiar Contraseña</b>
                    </button>
                </label>
                <div *ngIf="element2 == true">
                    <input id="contra" formControlName="password" type="password"
                        placeholder="Ponga la nueva contraseña:">
                    <div id="botonescontra">
                        <button id="cambiarcontra" [disabled]="!ChangePassword.valid"
                            (click)="UpdateContra(); hideData2(); ngOnInit()">
                            <b>Guardar</b>
                        </button>
                        <button id="cancelarcontra" (click)="hideData2()">
                            <b>Cancelar</b>
                        </button>
                    </div>
                </div>
            </div>

            <div [formGroup]="ChangeCorreo">
                <label>
                    <h4>
                        Correo del usuario: {{dato.email}}
                    </h4>
                    <button id="botoncorreo" *ngIf="element3 == false" (click)="showData3()">
                        <b>Cambiar Correo</b>
                    </button>
                </label>
                <div *ngIf="element3 == true">
                    <input id="email" formControlName="email" type="email"
                        placeholder="Ponga el nuevo correo del usuario">
                    <div id="botonescorreo">
                        <button id="cambiarcorreo" [disabled]="!ChangeCorreo.valid"
                            (click)="UpdateCorreo(); hideData3(); ngOnInit()">
                            <b>Guardar</b>
                        </button>
                        <button id="cancelarcorreo" (click)="hideData3()">
                            <b>Cancelar</b>
                        </button>
                    </div>
                </div>
            </div>

            <div [formGroup]="ChangeTelefono">
                <label>
                    <h4>
                        Telefono del usuario: {{dato.phone}}
                    </h4>
                    <button id="botontele" *ngIf="element4 == false" (click)="showData4()">
                        <b>Cambiar Telefono</b>
                    </button>
                </label>
                <div *ngIf="element4 == true">
                    <input id="tele" formControlName="phone" type="number"
                        placeholder="Ponga el nuevo telefono del usuario">
                    <div id="botonestelefono">
                        <button id="cambiartelefono" [disabled]="!ChangeTelefono.valid"
                            (click)="UpdateTelefono(); hideData4(); ngOnInit()">
                            <b>Guardar</b>
                        </button>
                        <button id="cancelartelefono" (click)="hideData4()">
                            <b>Cancelar</b>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <label>
                    <h4>
                        Dni del usuario: {{dato.dni}}
                    </h4>
                </label>
            </div>
        </div>
        <hr>
        <button id="volver" routerLink="/usuarios">
            VOLVER
        </button>
    </form>
</div>