<div id="menu">
        <img alt="Nike Logo" src="assets/imagenes/Logo.png">
        <hr>
        <!-- Boton para volver a la tienda -->
        <button routerLink="../tienda" routerLinkActive="active" titulo="MENU PRINCIPAL"><img
                        src="assets/imagenes/logo_tienda.png">
                <p>MENU PRINCIPAL</p>
        </button>
        <!-- Boton para que el usuario pueda ver su perfil -->
        <button routerLink="../perfil" routerLinkActive="active" titulo="PERFIL"><img src="assets/imagenes/perfil.png">
                <p>PERFIL</p>
        </button>

        <button routerLink="../VerPedidos" routerLinkActive="active" titulo="PEDIDOS"><img
                        src="assets/imagenes/carrito_foto.png">
                <p>PEDIDOS</p>
        </button>

</div>

<div id="header">
        <h1>Bienvenido a su carrito</h1>
</div>

<ng-container *ngIf="element == false">
        <table id="carrito">

                <tr>
                        <th>Imagen:</th>
                        <th>Nombre Producto:</th>
                        <th>Cantidad:</th>
                        <th>Precio:</th>
                        <th>Quitar:</th>
                </tr>

                <tr id="materiales" *ngFor="let dato of productosfiltrados">
                        <ng-container *ngFor="let nombre of materialsnameimg">
                                <td>
                                        <img id="photo" src="{{nombre.img}}">
                                </td>
                                <td>{{nombre.nombre}}</td>
                                <td>{{dato.cantidad}}</td>
                                <td>{{dato.precio}} €</td>
                                <td>
                                        <button id="Quitar"
                                                (click)="openQuitarProducto($event, dato.id)">Quitar</button>
                                </td>
                        </ng-container>
                </tr>

                <tr>

                        <td colspan="5">

                                <hr>

                        </td>

                </tr>

                <tr>
                        <td colspan="3">
                                <button id="ConfirmarEntrega" (click)="Pedido()">
                                        <p>Confirmar Compra</p>
                                </button>
                        </td>
                </tr>
        </table>

</ng-container>

<div id="carritovacio" *ngIf="element == true">
        <img id="foto" src="assets/imagenes/carrito_foto.png">
        <p>No hay productos en tu carrito.
                Consulta todas nuestras ofertas</p>
</div>