<div id="menu">
    <img alt="Nike Logo" src="assets/imagenes/Logo.png">
    <hr>
    <!-- Boton para cerrar sesion -->
    <button title="LOGOUT"><img src="assets/imagenes/logout.png"><br>LOGOUT</button>
    <!-- Boton para que el usuario pueda ver su perfil -->
    <button routerLink="../perfil" routerLinkActive="active" titulo="PERFIL"><img
            src="assets/imagenes/perfil.png"><br>PERFIL</button>
    <!-- Boton para volver a la tienda -->
    <button routerLink="../tienda" routerLinkActive="active" titulo="TIENDA"><img
            src="assets/imagenes/logo_tienda.png"><br>TIENDA</button>
</div>

<div id="carrito">
    <img id="foto" src="assets/imagenes/carrito_foto.png">
    <p>No hay productos en tu carrito.
        Consulta todas nuestras ofertas</p>
</div>