<form [formGroup]="UsuariosForm">
    <div id="logo">
        <img src="assets/imagenes/LogoLogin.png">
    </div>

    <div>
        <input formControlName="photo" type="file" id="file" (change)="onFileChange($event)">
        <div *ngIf="f['photo'].touched && f['photo'].invalid">
            <p id="error" *ngIf="f['photo'].hasError('required')">
                Campo requerido
            </p>
        </div>
    </div>

    <div>
        <input formControlName="name" type="text" placeholder="Ponga el nombre del cliente:">
        <div *ngIf="f['name'].touched">
            <p id="error" *ngIf="f['name'].hasError('required')">
                Campo requerido
            </p>
        </div>
    </div>

    <div>
        <input formControlName="lastname" type="text" placeholder="Ponga los apellidos del cliente:">
        <div *ngIf="f['lastname'].touched">
            <p id="error" *ngIf="f['lastname'].hasError('required')">
                Campo requerido
            </p>
        </div>
    </div>

    <div>
        <input formControlName="password" type="password" placeholder="Ponga la contraseña para el cliente:">
        <div *ngIf="f['password'].touched">
            <p id="error" *ngIf="f['password'].hasError('required')">
                Campo requerido
            </p>
        </div>
    </div>

    <div>
        <input formControlName="email" type="email" placeholder="Ponga el correo del cliente:">
        <div *ngIf="f['email'].touched">
            <p id="error" *ngIf="f['email'].hasError('required')">
                Campo requerido
            </p>
            <p id="error" *ngIf="f['email'].hasError('email')">
                El correo debe de tener un @
            </p>
        </div>
    </div>

    <div>
        <input formControlName="phone" type="number" placeholder="Ponga el telefono del cliente:">
        <div *ngIf="f['phone'].touched">
            <p id="error" *ngIf="f['phone'].hasError('required')">
                Campo requerido
            </p>
        </div>
    </div>

    <div>
        <input formControlName="dni" type="text" placeholder="Ponga el dni del cliente:">
        <div *ngIf="f['dni'].touched">
            <p id="error" *ngIf="f['dni'].hasError('required')">
                Campo requerido
            </p>
        </div>
    </div>

    <div id="botones">
        <button id="registrar" [disabled]="!UsuariosForm.valid" (click)="addUsuario()"
            routerLink="../tienda">REGISTRAR</button>
        <button id="volver" routerLink="../tienda">VOLVER</button>
    </div>
</form>