<div id="menu">
  <img alt="Nike Logo" src="assets/imagenes/Logo.png">
  <hr>

  <button routerLink="../tienda" routerLinkActive="active" titulo="PEDIDOS"><img src="assets/imagenes/logo_tienda.png">
    <p>MENU PRINCIPAL</p>
  </button>

  <!-- Sale una vez el usuario a iniciado sesion -->
  <button *ngIf="info.rol == 'cliente' || info.rol == 'admin'" routerLink="../perfil" titulo="PERFIL"><img
      src="assets/imagenes/perfil.png">
    <p>PERFIL</p>
  </button>

  <!-- Saldra si el usuario que a iniciado sesion es un cliente -->
  <button *ngIf="info.rol == 'cliente'" routerLink="../carrito" titulo="CARRITO"><img src="assets/imagenes/carrito.png">
    <p>CARRITO</p>
  </button>

  <button routerLink="../VerPedidos" routerLinkActive="active" titulo="PEDIDOS"><img
      src="assets/imagenes/carrito_foto.png">
    <p>PEDIDOS</p>
  </button>

</div>

<div id="header">
  <h1>Bienvenido a la tienda de Material Policial</h1>
</div>

<ng-container>
  <table id="producto">
    <tr *ngIf="materialesfiltrados.length != 0">
      <th>Foto:</th>
      <th>Nombre:</th>
      <th>Marca:</th>
      <th>Descripción:</th>
      <th>Precio:</th>
      <th>Cantidad:</th>
    </tr>

    <ng-container *ngIf="materialesfiltrados.length != 0">
      <tr id="materiales" *ngFor="let dato of materialesfiltrados">
        <td><img id="foto" [src]="dato.img"></td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.marca}}</td>
        <td>{{dato.descripcion}}</td>
        <td>{{dato.precio}} €</td>
        <td>{{dato.precio}}</td>
        <td>
          <button id="añadirCarrito" (click)="openDialog(); Carrito($event, dato.id, dato.precio)">
            <b>Añadir al Carrito</b>
          </button>
        </td>
      </tr>
    </ng-container>

    <div *ngIf="materialesfiltrados.length == 0" id="Mensajeningunusuario">
      <b>No hay ningun producto</b>
    </div>

  </table>
</ng-container>