#menu {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 300px;
  background-color: rgba(98, 98, 98, 0.9);
  border-bottom-right-radius: 10px;
}

#menu>img {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 45px;
}

#menu>hr {
  position: absolute;
  top: 180px;
  left: 23px;
  width: 250px;
}

#menu>button {
  border: none;
  width: 280px;
  height: 50px;
  margin-top: 10px;
  margin-left: 9px;
  margin-bottom: 10px;
  padding-top: -20px;
  background: #B3B3B3;
}

#menu>button>p {
  margin-top: 11px;
}

#menu>button:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}

#menu>button>img {
  width: 50px;
  float: left;
  margin-left: 5px;
}

hr {
  color: rgb(255, 255, 255);
  border: 3px solid;
}

#producto {
  position: absolute;

  text-align: center;

  margin-left: 500px;
  margin-top: 200px;

  width: 1199px;
  height: auto;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: rgba(98, 98, 98, 0.9);

  border-radius: 10px;
}

#producto>tr {
  color: white;

  font-size: 20px;
}

#foto {
  height: 100px;
}

#titulo {
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

#añadirCarrito {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;

  border-radius: 10px;
  border: none;

  background-color: rgb(33, 33, 245);
  color: white;

  height: 30px;

  cursor: pointer;
}

#Mensajeningunusuario {
  color: white;
  padding-bottom: 5px;
}

#header {
  position: absolute;
  background-color: rgba(98, 98, 98, 0.9);
  width: 70%;
  height: 100px;
  padding-top: 25px;
  margin-left: 450px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  text-align: center;
  color: white;
}