<main>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" width="50" height="50" role="img" src="assets/imagenes/Logo.png" alt="">
        </div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="../tienda" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Armamento</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Municion</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Granadas</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Proteccion</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
            aria-label="Search">
        </form>
        <div class="text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{{info.photo}}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li *ngIf="info.rol == 'cliente'"><a class="dropdown-item" href="../carrito">Carrito</a></li>
            <li *ngIf="info.rol == 'admin'"><a class="dropdown-item" (click)="showButton1()">Categorias</a></li>
            <li *ngIf="info.rol == 'admin'"><a class="dropdown-item" (click)="hideButton1()">Productos</a></li>
            <li><a class="dropdown-item" href="../perfil/">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</main>

<ng-container *ngFor="let dato of datos">
  <table *ngIf="element1 == true" id="producto">
    <button>Crear un producto</button>

    <tr>
      <td>{{dato.img}}</td>
      <td>{{dato.nombre}}</td>
      <td>{{dato.marca}}</td>
      <td>{{dato.descripcion}}</td>
      <td>{{dato.cantidad}}</td>
      <td>{{dato.precio}}</td>
      <td>{{dato.id_categoria}}</td>
    </tr>

  </table>
</ng-container>


<table id="producto" *ngIf="element1 == false">
  <button>Crear una categoria</button>
</table>

<!-- <form [formGroup]="productosForm">
  <div id="logo">
      <img src="assets/imagenes/LogoLogin.png">
  </div>

  <div>
      <input formControlName="img" type="file" id="file" (change)="onFileChange($event)">
      <p id="error" *ngIf="this.productosForm.controls.img.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="name" type="text" placeholder="Ponga el nombre del cliente:">
      <p id="error" *ngIf="this.productosForm.controls.name.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="lastname" type="text" placeholder="Ponga los apellidos del cliente:">
      <p id="error" *ngIf="this.productosForm.controls.lastname.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="password" type="password" placeholder="Ponga la contraseña para el cliente:">
      <p id="error" *ngIf="this.productosForm.controls.password.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="email" type="email" placeholder="Ponga el correo del cliente:">
      <p id="error" *ngIf="this.productosForm.controls.email.hasError('required')">Campo vacio</p>
      <p id="error" *ngIf="this.productosForm.controls.email.hasError('email')">El correo debe de tener un @
      </p>
  </div>

  <div>
      <input formControlName="phone" type="number" placeholder="Ponga el telefono del cliente:">
      <p id="error" *ngIf="this.productosForm.controls.phone.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="dni" type="text" placeholder="Ponga el dni del cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.dni.hasError('required')">Campo vacio</p>
  </div>

  <div id="botones">
      <button id="registrar" [disabled]="!UsuariosForm.valid" (click)="addUsuario()"
          routerLink="../tienda">REGISTRAR</button>
      <button id="volver" routerLink="../tienda">VOLVER</button>
  </div>
</form>

<form [formGroup]="UsuariosForm">
  <div id="logo">
      <img src="assets/imagenes/LogoLogin.png">
  </div>

  <div>
      <input formControlName="photo" type="file" id="file" (change)="onFileChange($event)">
      <p id="error" *ngIf="this.UsuariosForm.controls.photo.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="name" type="text" placeholder="Ponga el nombre del cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.name.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="lastname" type="text" placeholder="Ponga los apellidos del cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.lastname.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="password" type="password" placeholder="Ponga la contraseña para el cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.password.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="email" type="email" placeholder="Ponga el correo del cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.email.hasError('required')">Campo vacio</p>
      <p id="error" *ngIf="this.UsuariosForm.controls.email.hasError('email')">El correo debe de tener un @
      </p>
  </div>

  <div>
      <input formControlName="phone" type="number" placeholder="Ponga el telefono del cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.phone.hasError('required')">Campo vacio</p>
  </div>

  <div>
      <input formControlName="dni" type="text" placeholder="Ponga el dni del cliente:">
      <p id="error" *ngIf="this.UsuariosForm.controls.dni.hasError('required')">Campo vacio</p>
  </div>

  <div id="botones">
      <button id="registrar" [disabled]="!UsuariosForm.valid" (click)="addUsuario()"
          routerLink="../tienda">REGISTRAR</button>
      <button id="volver" routerLink="../tienda">VOLVER</button>
  </div>
</form> -->