body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) -35%, rgba(10, 68, 182, 1) 48%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) -35%, rgba(10, 68, 182, 1) 48%);
}